body{
    background-color: honeydew;
}
h2{
    display:inline;
    background-color: hotpink;
    padding: 20px;
    /* margin:10px 12px 13px 15px; */
    margin-right: 200px;
   
}
div{
    margin-top: 50px;
}
span{
    display: block;
    background-color:blue;
    padding: 20px;
    margin:10px 12px 13px 15px;
    font-weight: bolder;
}
.mobiles{
    display: inline-block;
    margin-right: 200px;
    margin-bottom: 100px;
}